body{
	background-color:#eee;
	color: #7F4949;
}

header{
	background-color: #CC3838;
}
a{
	color:#FF9393;
}

h2{
	color: #7F2323;
}

.ingredients, .step{
	background-color: #eee;
	color: #eee;

}
.step{
	
	border-top: 3px solid #ff4646;
}
.ingredients{
	background-color:#FF9393;
	/*border-right: 3px solid #FF4646;*/
}
.control{
	background-color: #FF9393;
}
